<% provide(:title, 'Acerca de nosotros')%>
<h1>Acerca de nosotros</h1>
<p>
  El <a href="http://railstutorial.org/">Tutorial de Ruby on Rails</a>
  es un proyecto de crear un libro y capturas de pantallas para enseniar desarrollo web
  con <a href="http://rubyonrails.org/">Ruby on Rails</a>. Esta
  es la aplicacion muestra para el tutorial.
</p>