<% provide(:title,'Contactanos') %>
<h1>Contactanos</h1>
<p>
  Contacta al Tutorial de Ruby on Rails acerca de la aplicacion muestra en la
  <a href="http://railstutorial.org/contact">Pagina de contacto</a>.
</p>