<% provide(:title,'Ayuda') %>
<h1>Ayuda</h1>
<p>
  Obten ayuda en el Tutorial de Ruby on Rails en la
  <a href="http://railstutorial.org/help">Pagina de ayuda del Tutorial de Rails</a>.
  Para obtener ayuda para esta aplicacion muestra, vease el
  <a href="http://railstutorial.org/book">Libro de Rails Tutorial</a>.
</p>

