<div class="center hero-unit">
  <h1>Bienvenido a la Aplicacion muestra</h1>

  <h2>
    Esta es la pagina de inicio para la aplicacion muestra para el
    <a href="http://railstutorial.org">Tutorial de Ruby on Rails</a>.
  </h2>

  <%= link_to "Iniciar sesion ahora!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>