<%provide(:title, 'Inicio') %>
<h1>Aplicacion muestra</h1>
<p>
  Esta es la pagina de inicio para la aplicacion muestra para el
  <a href="http://railstutorial.org">Tutorial de Ruby on Rails</a>.
</p>
