<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Tutorial de Rails</a>
    por Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca de",   '#' %></li>
      <li><%= link_to "Contactanos", '#' %></li>
      <li><a href="http://news.railstutorial.org/">Noticias</a></li>
    </ul>
  </nav>
</footer>